/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* White text */
    text-align: center;
}

header {
    padding: 20px;
    background-color: #333;
}

h1, p {
    color: #ffffff;
}

.category {
    padding: 20px;
}

.person {
    margin: 10px;
    padding: 10px;
    border: none; /* Removing border */
    display: inline-block;
    cursor: pointer;
    background-color: #2C2C2C; /* Soft dark background */
    border-radius: 10px; /* Rounded corners for a futuristic look */
    width: calc(33% - 22px);
    transition: all 0.3s ease;
}

.person:hover {
    transform: scale(1.05); /* Smooth scaling effect on hover */
}

.person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.person h3, .person p {
    text-align: center;
    color: #CCCCCC;
}

.social {
    display: none; /* Initially hidden */
    text-align: center;
    padding: 5px 0;
}

.social a {
    color: #DDD;
    margin: 0 5px;
    font-size: 20px; /* Larger icons */
}

@media (max-width: 768px) {
    .person {
        width: calc(50% - 22px);
    }
}

@media (max-width: 480px) {
    .person {
        width: 100%;
    }
}
